{{template "header"}}
<form action="" method="post">
    <div class="main">
        <div class="container">
            <img src="/assets/logo.svg" width="200" height="60" alt="Hiveon ID" class="logo">
            <h1><span class="thin">Log in with your </span>Hiveon ID</h1>
            <form method="post">
                <h1>Authorization Code:</h1>
                <p>{{.code}}</p>
                <h1>Scope:</h1>
                <p>{{.scope}}</p>

                <h1>state:</h1>
                <p>{{.state}}</p>

                <h1>Access Token:</h1>
                <p>{{.token}}</p>

                <h1>Refresh Token:</h1>
                <p>{{.refresh}}</p>

                <input type="hidden" name="timezone" value="">
                <input type="hidden" name="utc" value="">
                <input type="hidden" name="_csrf" value="{{.csrfToken}}">
                <input type="hidden" name="challenge" value="{{.challenge}}">


            </form>
        </div>
    </div>
    <script charset="utf-8" src="/assets/scripts.js"></script>
</form>
{{template "footer"}}