{{ template "header"}}
<ul id="notifications"></ul>
<form action="" method="post">
<div class="main">
    <div class="container">
        <img src="/assets/logo.svg" width="200" height="60" alt="Hiveon ID" class="logo">
        <h1><span class="thin">Log in with your </span>Hiveon ID</h1>
        <form id="login_form" method="post">
            <div class="input-container">
                <input type="text" name="email" placeholder="Login or Email" autocomplete="on" />
                <div class="error"></div>
            </div>
            <div class="input-container">
                <input type="password" name="password" placeholder="Password" autocomplete="on" required value="" />
                <span class="eye" alt="Hide/Show password"></span>
                <div class="error"></div>
            </div>
            <div class="input-container">
                <input type="text" name="twofa" placeholder="2FA Code (if enabled)" autocomplete="off" />
                <div class="error"></div>
            </div>
            <div class="input-container">
                <label>
                    <input name="remebmer" type="checkbox" value="1">
                    <span class="noselect">Remember me</span>
                </label>
            </div>
            <input type="hidden" name="timezone" value="">
            <input type="hidden" name="utc" value="">
            <input type="hidden" name="_csrf" value="{{.csrfToken}}">
            <input type="hidden" name="challenge" value="{{.challenge}}">
            <span class="submit" id="login-btn"><span>Log in</span></span>
            <div class="away">
                <span>Don't have an account yet?</span>
                <a href="/register?login_challenge={{.challenge}}" class="goto">
                    <span>Register</span>
                </a>
            </div>
            <div class="away">
                <span>Forgot your password?</span>
                <a href="/recover" class="goto">
                    <span>Recover</span>
                </a>
            </div>
        </form>
    </div>
</div>

</form>
{{ template "footer"}}